<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>

    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
    <h1>Formulario de Login</h1>

    <!-- Mostrar mensajes de error o éxito -->
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <!-- Formulario de login -->
    <form method="POST" action="{{ url_for('main_routes.login') }}">
        <!-- Correo del usuario -->
        <label for="correo">Correo:</label>
        <input type="email" id="correo" name="correo" required><br><br>

        <!-- Contraseña del usuario -->
        <label for="contraseña">Contraseña:</label>
        <input type="password" id="contraseña" name="contraseña" required><br><br>

        <!-- Botón de inicio de sesión -->
        <button type="submit">Iniciar sesión</button>
    </form>

</body>
</html>